.main {
    margin: 0 16px;
    margin-top: 56px;
}
.img-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 1px;
}
.profile {
    width: 50%;
}
.img-profile {
    width: 200px;
    margin: 0 calc(50% - 100px);
    border-radius: 50%;
}
.carousel-item > img {
    height: 100%;
    max-height: 600px;
    filter: blur(10px);
}
.group {
    margin: 0 12px;
    margin-top: 24px;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.group > img {
    width: 240px;
    height: 100%;
    border-radius: 12px;
}
.desc-group > p {
    text-align: justify;
}
.cont-files {
    padding-top: 48px;
}
.files {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}
.file {
    width: 300px;
}
.file > img {
    width: 100%;
}
.text-file {
    margin: 0 24px;
    margin-top: -222px;
    margin-bottom: 144px;
    text-align: justify;
    text-align: center;
}
.add-file {
    margin: 150px 10%;
    height: 45vh;
}
.cont-discussion {
    margin: 0 16px;
    margin-top: 60px;
}
.discussion {
    padding: 16px;
    border-radius: 12px;
}
.small-text {
    margin-top: -12px;
    margin-bottom: 4px;
}
.comment {
    padding: 0 5%;
}
@media(max-width: 670px) {
    .carousel-item > img {
        max-height: 240px;
    }
    .group {
        display: block;
    }
    .group > img {
        margin: 0 calc(50% - 120px);
        margin-bottom: 8px;
    }
    .desc-group > h3 {
        text-align: center;
    }
    .profile {
        width: 75%;
    }
}